Assignment5/Assignment5/Assignment4/Connected Services/ArticleService/ArticleManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ArticleManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64677/ArticleManagementService1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64677/ArticleManagementService1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64677/ArticleManagementService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArticleManagementService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ArticleManagementService1_CreateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticle" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_CreateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_UpdateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticle" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_UpdateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_DeleteArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticle" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_DeleteArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticleResponse" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_GetArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticle" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_GetArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleResponse" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_GetAllArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticles" />
  </wsdl:message>
  <wsdl:message name="ArticleManagementService1_GetAllArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticlesResponse" />
  </wsdl:message>
  <wsdl:portType name="ArticleManagementService1">
    <wsdl:operation name="CreateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/ArticleManagementService1/CreateArticle" message="tns:ArticleManagementService1_CreateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ArticleManagementService1/CreateArticleResponse" message="tns:ArticleManagementService1_CreateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/ArticleManagementService1/UpdateArticle" message="tns:ArticleManagementService1_UpdateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ArticleManagementService1/UpdateArticleResponse" message="tns:ArticleManagementService1_UpdateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/ArticleManagementService1/DeleteArticle" message="tns:ArticleManagementService1_DeleteArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ArticleManagementService1/DeleteArticleResponse" message="tns:ArticleManagementService1_DeleteArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/ArticleManagementService1/GetArticle" message="tns:ArticleManagementService1_GetArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ArticleManagementService1/GetArticleResponse" message="tns:ArticleManagementService1_GetArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/ArticleManagementService1/GetAllArticles" message="tns:ArticleManagementService1_GetAllArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ArticleManagementService1/GetAllArticlesResponse" message="tns:ArticleManagementService1_GetAllArticles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ArticleManagementService1" type="tns:ArticleManagementService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateArticle">
      <soap:operation soapAction="http://tempuri.org/ArticleManagementService1/CreateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <soap:operation soapAction="http://tempuri.org/ArticleManagementService1/UpdateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <soap:operation soapAction="http://tempuri.org/ArticleManagementService1/DeleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap:operation soapAction="http://tempuri.org/ArticleManagementService1/GetArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArticles">
      <soap:operation soapAction="http://tempuri.org/ArticleManagementService1/GetAllArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticleManagementService">
    <wsdl:port name="BasicHttpBinding_ArticleManagementService1" binding="tns:BasicHttpBinding_ArticleManagementService1">
      <soap:address location="http://localhost:64677/ArticleManagementService1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>